.event-pictures {
    padding:0;
    max-width:600px;
    margin:2em auto;
}

.event-picture-image {
    height:112px;   
}

.event-picture-image img {
    border-radius:10px;
    border:1px solid gray;
}

.event-picture {
    width:180px;
    text-align:center;
    vertical-align:bottom;
    margin:10px;
    float:left;
}

.event-picture-caption {
    margin-top:1.5em;
}

.event-list {
    list-style:none;
    padding:0;
}

.event-list li {
    clear:both;
    padding-left:10px;
    margin:10px 0;
}

.event-icon {
    float:left;
    width:90px;
    height:56px;
    margin-right:10px;
    margin-bottom:10px;
}

.event-icon img {
    border-radius:5px;
    border:1px solid gray;
}

.event-view .date_and_place {
    font-weight:bold;
}
